<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FBWMaster"
        tools:targetApi="31">
        <activity
            android:name=".data.CurrentData"
            android:exported="false"
            android:label="@string/title_activity_current_data"
            android:theme="@style/Theme.FBWMaster" />
        <activity
            android:name=".comps.ExercisesList"
            android:exported="false"
            android:label="@string/title_activity_exercises_list"
            android:theme="@style/Theme.FBWMaster" />
        <activity
            android:name=".comps.PlansListScreen"
            android:exported="false"
            android:label="@string/title_activity_plans_list_screen"
            android:theme="@style/Theme.FBWMaster" />
        <activity
            android:name=".comps.ToolsScreen"
            android:exported="false"
            android:label="@string/title_activity_tools_screen"
            android:theme="@style/Theme.FBWMaster" />
        <activity
            android:name=".comps.MainScreen"
            android:exported="false"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/Theme.FBWMaster" />
        <activity
            android:name=".comps.GreetingScreen"
            android:exported="false"
            android:label="@string/title_activity_greeting_screen"
            android:theme="@style/Theme.FBWMaster" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FBWMaster">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>